.screen_container {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #191919;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.screen_container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.screen_container_pages {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 1200px) {
  .screen_container {
    max-width: 120rem;
    min-height: 120rem;
    margin: 0 auto;
  }
}
