.container_screen {
  width: 100%;
  height: calc(100vh - 8.25rem);
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container_screen_top {
  width: 100%;
  height: calc(100% - 3.35rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.container_screen_top::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@media only screen and (min-width: 1200px) {
  .container_screen {
    height: 140rem;
    flex-direction: column-reverse;
  }
}
