.news_container_content {
  width: 100%;
  height: auto;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.news_card_box {
  width: 100%;
  height: 20rem;
  padding: 0 1rem;
  margin-top: 1rem;
}

.news_card_inner_content {
  width: 100%;
  height: 100%;
}

.news_card_inner_content_image_box {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  box-shadow: 0.5rem 0.5rem 0.8rem #0000005e;
}

.news_card_inner_content_image_box > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
}

@media only screen and (min-width: 768px) {
  .news_container_content {
    padding: 0 2rem;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .news_card_box {
    width: calc(100% / 2);
    height: 25rem;
    padding: 0.5rem 1rem;
  }

  /* .news_container_content {
    width: 100%;
    height: auto;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
  } */
}
