.header_container {
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-tracks: center;
  background-color: #0f0f0f;
}

@media only screen and (min-width: 1200px) {
  .header_container {
    max-width: 120rem;
    margin: 0 auto;
    /* position: relative; */
    position: sticky;
    top: 0;
  }
}

@media only screen and (min-width: 1920px) {
  .header_container {
    height: 14rem;
  }
}
