.login_container {
  width: 90%;
  height: 6rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.login_container::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-bottom: 0.1rem solid #fff;
}

.logo_box {
  width: 5rem;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.account_status_container {
  width: calc(100% - 10rem);
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.account_status_container > p {
  font-size: 1.2rem;
}

.login_box {
  width: 5rem;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.login_box > img,
.logo_box > img {
  width: auto;
  height: 50%;
  object-fit: contain;
}

@media only screen and (min-width: 1200px) {
  .login_container {
    width: 100%;
  }

  .login_container::after {
    width: 100%;
  }

  .logo_box {
    width: 8rem;
    padding-left: 1rem;
  }

  .login_box {
    width: 8rem;
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 1920px) {
  .login_container {
    height: 7rem;
  }

  .account_status_container {
    width: calc(100% - 16rem);
  }

  .account_status_container > p {
    font-size: 1.5rem;
  }
}
