.nav_sub_container {
  width: 100%;
  height: 3.35rem;
}

.nav_sub_container_ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: scroll;
  color: #fff;
  background-color: #000;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.nav_sub_container_ul::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.nav_sub_container_ul > li {
  width: auto;
  height: 100%;
  margin: 0 1.5rem;
  list-style-type: none;
  font-size: 1.25rem;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
