.nav_sub_container {
  width: 100%;
  height: 3rem;
  background-color: #000;
}

.sub_nav_ul {
  width: 100%;
  height: 100%;
  padding: 0 1.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow-x: scroll;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.sub_nav_ul::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.sub_nav_ul > li {
  width: auto;
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  text-shadow: 0.1rem 0.1rem 0.2rem gray;
}

.sub_nav_ul > li.active_link {
  color: #000;
  font-weight: 700;
  background-color: #fff;
}

@media only screen and (min-width: 768px) {
  .sub_nav_ul {
    width: 85%;
    margin: 0 auto;
    overflow-x: hidden;
    justify-content: center;
    padding: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .nav_sub_container {
    height: 4rem;
  }

  .sub_nav_ul > li {
    font-size: 1.2rem;
    padding: 0 2rem;
    cursor: pointer;
  }
}
